@import "../../../../styles/variables";

html, body, .root {
  height: 100%;
}

:global(.MuiGrid-root).root {
  flex-wrap: nowrap;
}

.wrapperMain {
  flex-grow: 1;
  padding: 10px;
  overflow-x: auto;
}
main.main {
  margin: 0;
  padding: 0;
}