// https://coolors.co/
$c-cerulean-blue: #376aed;
$c-gainsboro: #dde0e4;
$c-white: white;
$c-silver-chalice: #aaa;
$c-green-pantone: #4caf50;
$c-gunmetal: #1e2632;
$c-manatee: #919caf;
$c-fogra: #171e28