@import './_variables.scss';

html {
  font-size: $fs-base;
}

body {
  margin: 0;
  font-family: $ff-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $ff-source-code;
}
