@import "../../../styles/variables";

div.icon {
  background-color: $c-cerulean-blue;
}

.form {
  padding: 40px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.footer {
  margin-top: 20px;
}