@import "../../../styles/variables";

div.icon {
  background-color: $c-cerulean-blue;
  width: 80px;
  height: 80px;

  :global {
    .MuiSvgIcon-root {
      width: 3rem;
      height: 3rem;
    }
  }
}

.root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}